.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-evenly;
}

.trybewarts-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 675px;
}

.trybewarts-header-logo{
    max-width: 80px;
    max-height: 90px;
}

h1{
    color: white;
}

#evaluation-form{
    display: flex;
    max-width: 675px;
    flex-direction: column
}

.main{
    justify-content: space-evenly;
    display: flex;
}

.trybewarts-forms-logo{
    height: 500px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}

